# This file contains common pin mappings for the BIGTREETECH SB2209 RP2040 V1.0
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.
[force_move]
enable_force_move: True

[mcu Feeder]
canbus_uuid: 97655486a448

[temperature_sensor Feeder_NTC]
sensor_type: Generic 3950
sensor_pin: Feeder:gpio28

[filament_switch_sensor filament_feeder]
switch_pin: ^Feeder:gpio24
pause_on_runout: False
insert_gcode:
    M117 Insert Detected
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    SET_SERVO SERVO=fil_servo ANGLE=17 # servo gripping filament
    ACTIVATE_EXTRUDER EXTRUDER=extruder1 # activates fila_feeder stepper
    _CLIENT_LINEAR_MOVE E=950 F=5000
    FORCE_MOVE STEPPER=extruder DISTANCE=20 VELOCITY=10 # forces toolhead to grab filament
    SET_SERVO SERVO=fil_servo ANGLE=45 # servo not gripping filament
    ACTIVATE_EXTRUDER EXTRUDER=extruder # activates toolhead extruder
    LOAD_FILAMENT
runout_gcode:
    

# [adxl345]
# cs_pin: Feeder:gpio1
# spi_software_sclk_pin: Feeder:gpio2
# spi_software_mosi_pin: Feeder:gpio0
# spi_software_miso_pin: Feeder:gpio3
# axes_map: z,-y,x

# [resonance_tester]
# probe_points: 100, 100, 20
# accel_chip: adxl345

[servo fil_servo]
pin: Feeder:gpio22
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.002
initial_angle: 90

[extruder1]
step_pin: Feeder:gpio18
dir_pin: !Feeder:gpio19
enable_pin: !Feeder:gpio17
microsteps: 16
rotation_distance: 23.0482278
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Feeder:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: Feeder:gpio27
min_extrude_temp: -200
max_extrude_only_distance: 970.0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: -200
max_temp: 250

# sensor_type: MAX31865
# sensor_pin: Feeder:gpio9
# spi_software_sclk_pin: Feeder:gpio10
# spi_software_mosi_pin: Feeder:gpio8
# spi_software_miso_pin: Feeder:gpio11
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder1]
uart_pin: Feeder:gpio20
run_current: 0.650
stealthchop_threshold: 999999

# [fan]
# pin: Feeder:gpio13

# [heater_fan hotend_fan]
# pin: Feeder:gpio14
# heater: extruder
# heater_temp: 50.0

# [fan_generic 4W_FAN0]
# pin: Feeder:gpio15
# tachometer_pin: Feeder:gpio12
# #tachometer_ppr: 1

# [neopixel hotend_rgb]
# pin: Feeder:gpio16

# [bltouch]
# sensor_pin: ^Feeder:gpio21
# control_pin: Feeder:gpio22

## NPN and PNP proximity switch types can be set by jumper
#[probe]
#pin: ^Feeder:gpio6
